<!DOCTYPE html>
<html lang="en">

<head>
  <title>Atlas Osteologia</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="metodosCarga.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="imageMapResizer.js"></script>

  
  <link rel="stylesheet" href="bootstrap.css">

</head>

<body>



    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3452fc;">
        <div class="container-fluid">
          
            <a class="navbar-brand" href="/">
              <img src="/ico/perro front.jpg" width="60" height="60" class="d-inline-block align-top" alt="">
              Bibliotecas Interactivas UCE
    
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarNav" aling="right">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    
                  <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Generalidades">Generalidades</a>
                  </li>
                 
                </ul>
              
    
    
          </div>
          
        </div>
      </nav>
    

  <div class="container">
    <div class="row">



      <div class="col-sm-12" id="imageContainer">

        <img src="/ico/perro front.jpg" width="100%" height="auto" usemap="#image-map" class="map">

        <map name="image-map">

          <area target="" alt="" href="/Cráneo"
          title="" href="" coords="929,318,869,286,821,307,756,345,702,372,621,431,589,485,562,561,503,615,470,642,454,696,443,728,492,814,535,836,605,825,745,771,810,674,869,620,853,561,886,523,923,518,945,469,929,421,923,367" 
          shape="poly">
           <area target="" alt="" href="/Esqueleto Axial Vertebras Cervicales"
           href="" coords="956,442,988,458,988,491,1031,458,1085,475,1117,523,1144,555,1171,561,1204,599,1252,615,1290,669,1328,647,1339,685,1241,777,1198,717,1171,674,1134,669,1091,631,1047,577,1004,539,956,545,945,491" 
           shape="poly">
            <area target="" alt="" href="/Esqueleto Axial Vértebras Torácicas y Vértebras Lumbares"
            coords="1452,706,1473,696,1480,726,1504,705,1531,695,1535,746,1558,705,1555,760,1596,733,1602,794,1663,733,1653,824,1718,753,1718,824,1796,739,1769,821,1853,753,1819,824,1880,750,1877,814,1948,746,1948,794,1979,750,2013,787,2037,753,2064,797,2094,750,2152,834,2067,844,2003,848,1914,838,1843,824,1792,831,1738,834,1684,841,1623,841,1568,841,1538,865" 
            shape="poly">
           <area target="" alt="" href="/Costillas y Esternón"
            coords="970,971,1007,986,1032,1014,1093,1039,1221,1076,1302,1089,1385,1089,1465,1059,1523,1008,1561,966,1563,923,1583,890,1626,863,1634,815,1583,722,1530,684,1420,677,1337,671,1251,671,1151,692,1093,684,1068,689,1002,737,990,775,972,842,972,933,970,953" 
            shape="poly">
            <area target="" alt="" href="/Esqueleto Axial Sacro y Vertebras Coccigeas"
            coords="1576,663,1566,590,1603,562,1797,552,1840,562,1875,562,1925,552,1953,542,1988,577,2046,565,2061,593,2137,600,2162,638,2212,660,2255,708,2295,713,2355,736,2453,811,2539,917,2554,1048,2587,1156,2612,1234,2584,1199,2519,980,2479,880,2443,835,2391,795,2260,739,2169,727,2106,727,2064,727,2023,714,1996,702,1973,694,1943,722,1900,697,1852,689,1835,709,1822,694,1792,684,1739,682,1701,689,1671,697,1646,697,1593,694" 
            shape="poly">
            <area target="" alt="" href="/Miembro anterior Escápula"
            coords="836,860,866,883,927,883,962,883,980,815,987,780,1017,759,1053,722,1088,687,1115,644,1120,611,1083,576,997,528,959,521,924,536,909,566,869,624,856,664,841,717,871,765,879,795,861,830" 
            shape="poly">
            <area target="" alt="" href="/Miembro anterior Húmero"
            coords="846,903,874,890,929,893,965,898,952,963,962,1019,1012,1096,1073,1154,1123,1200,1148,1227,1161,1283,1123,1298,1100,1290,1100,1237,1068,1202,1010,1162,912,1091,854,1014,839,968" 
            shape="poly">
            <area target="" alt="" href="/Miembro anterior Ulna"
            coords="1083,1300,1108,1300,1118,1320,1073,1398,1022,1519,970,1625,954,1710,932,1723,929,1677,967,1572,1017,1454"
            shape="poly">
            <area target="" alt="" href="/Miembro anterior Radio"
            coords="1168,1230,1206,1273,1095,1441,1022,1607,1027,1687,1040,1710,992,1685,1002,1579,1045,1471,1078,1411,1103,1361,1110,1340,1123,1313" 
            shape="poly">
            <area target="" alt="" href="/Miembro anterior Carpo"
            coords="929,1723,957,1708,1000,1695,1045,1693,1063,1715,967,1848,887,1914,856,1926,788,1934,876,1876,907,1836,924,1773" 
            shape="poly">
            <area target="" alt="" href="/Os Penis"
            coords="1920,1054,1872,1084,1908,1081,1960,1059,2013,1044,2046,1024,2031,1003,1983,1026" 
            shape="poly">
            <area target="" alt="" href="/Miembro posterior Coxal"
            coords="2109,712,2109,666,2131,629,2167,641,2227,707,2265,787,2353,825,2411,933,2333,958,2275,953,2318,905,2282,845,2237,835,2202,878,2184,845,2157,767" 
            shape="poly">
            <area target="" alt="" href="/Miembro posterior Fémur"
            coords="2076,1192,2124,1104,2204,1024,2275,951,2315,900,2270,842,2220,835,2202,883,2172,968,2124,1021,2069,1086,2008,1169,2001,1217,1991,1247,2046,1283,2096,1288,2099,1252" 
            shape="poly">
            <area target="" alt="" href="/Miembro posterior Tibia y Fíbula"
            coords="2041,1293,2101,1293,2137,1308,2209,1481,2300,1612,2323,1655,2320,1703,2292,1660,2245,1582,2111,1456,2043,1393,2006,1333,2013,1310" 
            shape="poly">
            <area target="" alt="" href="/Miembro posterior Carpo"
            coords="2305,1670,2335,1647,2353,1625,2353,1705,2325,1793,2313,1866,2292,1906,2272,1936,2252,1982,2214,1967,2197,1952,2220,1916,2257,1889,2277,1874,2287,1796,2292,1733" 
            shape="poly">
          





            



            


        </map>
      </div>
    </div>
  </div>
  </div>

  

      
   
  
  <footer  style="background-color: #3452fc;">
      <div class="container">
          <div class="row ">
              <div class="col-md-4 text-center text-md-left ">
                  
                  <div class="py-0">
                      <p class="footer-links font-weight-bold">
                      <h3><center><img src="/ico/icon 2.png" width="100" height="100" id="uce"></center></h3>
                      <h3><center>Universidad Central del Ecuador</center></h3>
                          
                        
                      </p>
                      <p class="text-light py-4 mb-4">&copy;2019 bryvel-productions</p>
                  </div>
              </div>
              
              <div class="col-md-4 text-white text-center text-md-left ">
                  <div class="py-2 my-4">
                      <div>
                         
                          <a><center><img src="/ico/icon 5.png" width="100" height="100" id="uce"></center></a>
                          <p> </p>
                          <a><center><img src="/ico/ico 6.jpg" width="100" height="100" id="uce"></center></a>

                      </div>  
                  </div>  
              </div>
              
              <div class="col-md-4 text-white my-4 text-center text-md-left ">
                  <span class=" font-weight-bold ">Autores:</span>
                  <center><p>Facultad de Ingeniería Ciencias Físicas y Matemáticas</p></center> 
                    <ul>
                      <li>Bryan Sebastian Velasco Lopez</li>
                      <li>Ing. César Morales Mejía</li>
                    </ul>
                    <center><p>Facultad Medicina Veterinaria y Zootecnía</p></center> 
                    <ul>
                      <li>Verónica Estefani Alvear Sandoval</li>
                      <li>María del Carmen Revelo Cueva</li>
                    </ul>
                   
                   
                

              </div>
          </div>  
      </div>
   </footer>


<style type="text/css">
  body {
    background-color: black;
  }

  .list-group {

    background-color: gray;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

  h2 {
    color: white;
  }

  .front {
    margin-top: 3cm;
    margin-bottom: 3cm;
  }

  html,
  body {
    height: 100%;
  }

  #page-content {
    flex: 1 0 auto;
  }

  #sticky-footer {
    flex-shrink: none;
  }

  
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>




  imageMapResize();


</script>

</html>